/* .light_theme_icon {
    content: "light theme";
    display: inline-block;
    width: auto;
    height: auto;
    color: var(--secondary-color);
}
.dark_theme_icon {
    content: "dark theme";
    display: inline-block;
    width: auto;
    height: auto;
    color: var(--secondary-color);
} */