#container_text_typing {
    margin: 5px 0;
}
#text_typing {

    border-top: 1px solid;

    height: 4.8em;
    overflow: clip;
    overflow-clip-margin: 1px;

    margin: 2px 0;
    display: block;

    line-height: 1.55em;

}
#text_typing span {
    display: inline;
    padding-top: 10px;
    position: relative;
}

.active_text { color: var(--secondary-color); }
.disabled_text { color: var(--secondary-additional-color); }
.error { color: var(--mistake-color); }

.disabled_text:before, .error:before {
    
    content: "";

    height: 1px;
    width: 100%;

    position: absolute;
    top: 6px;

}

.disabled_text:before { background-color: var(--secondary-additional-color); }
.error:before { background-color: var(--mistake-color); }