/* main ====================================================== */
/* typing trainer */
#typing_trainer {

    width: 100%;
    margin: 10px 0;

    font-size: 1.25em;
    font-family: "Roboto";
    font-weight: 300;

}

/* tool line */
#tool_line {

    margin: 5px 0;

    display: flex;
    align-items: center;
    justify-content: right;

}

/* container texts speedometers */
#container_texts_speedometers {

    display: flex;
    align-items: center;
    justify-content: right;

    font-family: "Bitter";

}
#container_texts_speedometers span:first-child {
    margin-left: 0;
}
#container_texts_speedometers span:last-child{
    margin-right: 0;
}
#container_texts_speedometers span {
    margin: 0 5px;
}