.hint_container {
    
    font-family: "Roboto";
    font-weight: 300;

    position: relative;
    --top-position:  0px;
    --left-position: 0px;

    --description-value: ;

}

.hint_container:hover {
    border: 1px solid var(--secondary-color);
}

.hint_container:before {

    content: var(--description-value);

    display: inline-block;
    width: max-content;
    height: max-content;

    background-color: var(--primary-additional-color);
    border: 1px solid var(--secondary-additional-color);

    font-size: 1em;
    color: var(--secondary-color);

    position: absolute;
    left: var(--left-position);
    top: var(--top-position);
    
    z-index: 5;

    box-sizing: border-box;
    padding: 5px;

}