/* imports =================================================== */
/* styles ---------------------------------------------------- */
@import url("./styles/normalize.css");
@import url("./styles/variables.css");
/* fonts ----------------------------------------------------- */
@import url("./fonts/index.css");
/* icons ----------------------------------------------------- */
@import url("./icons/index.css");

/* main ====================================================== */
body {

    background-color: var(--primary-color);

    color: var(--secondary-color);
    font-family: 'Arial';
    font-size: 16px;

    overflow-y: hidden;

}

#root {
    margin: 0 auto;
    width: 900px;
}