/* imports =================================================== */
@import url("./styles/normalize.css");
@import url("./styles/variables.css");
@import url("./fonts/fonts.css");
@import url("./images/icons.css");

/* main ====================================================== */
body {

    background-color: var(--primary-color);

    color: var(--secondary-color);
    font-family: 'Arial';
    font-size: 16px;

}

#root {
    margin: 0 auto;
    width: 600px;
}