#input_typing {

    width: 100%;

    font-weight: 300;

    padding: 0;
    border: none;
    outline: none;

    transition:
        background-color .2s linear,
        color .2s linear;

    position: relative;

}
.input_valid {
    background-color: transparent;
    color: var(--secondary-color);
}
.input_invalid {
    background-color: var(--invalid-value-color);
    color: var(--primary-color);
}