/* main ====================================================== */
/* container speedometers ------------------------------------ */
#container_speedometers {

    font-size: 1em;
    font-family: "Roboto";
    font-weight: 300;

}

/* child container_speedometers ------------------------------ */
#container_speedometers .speedometer:nth-child(n) {
    margin-right: 7px;
}
#container_speedometers .speedometer:last-child {
    margin-right: 0;
}