/* main ====================================================== */
:root {
    --primary-color: #2C2C2C;
    --primary-additional-color: #353535;
    --secondary-additional-color: #505050;
    --secondary-color: white;

    --mistake-color: #ff2e2e;
    --best-result-color: rgb(66, 211, 66);
    --invalid-value-color: yellow;
}