/* Roboto ==================================================== */
@font-face {
    font-family: "Roboto";
    src: url("./Roboto/Roboto-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: "Roboto";
    src: url("./Roboto/Roboto-Medium.ttf");
    font-weight: 500;
}
@font-face {
    font-family: "Roboto";
    src: url("./Roboto/Roboto-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: "Roboto";
    src: url("./Roboto/Roboto-Light.ttf");
    font-weight: 300;
}

/* Bitter ==================================================== */
@font-face {
    font-family: "Bitter";
    src: url("./Bitter/static/Bitter-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: "Bitter";
    src: url("./Bitter/static/Bitter-Medium.ttf");
    font-weight: 500;
}
@font-face {
    font-family: "Bitter";
    src: url("./Bitter/static/Bitter-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: "Bitter";
    src: url("./Bitter/static/Bitter-Light.ttf");
    font-weight: 300;
}