/* main ====================================================== */
.exclamation_mark {

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid var(--secondary-color);
    border-radius: 50%;

    color: var(--secondary-color);
    font-size: .8em;
    font-weight: 400;

}