/* main ====================================================== */
/* keyboard -------------------------------------------------- */
#keyboard {
    width: 100%;
}
@keyframes changeHeightKeyboard {
    from {
        height: var(--start-height);
    }

    to {
        height: var(--end-height);
    }
}

/* row keycaps ----------------------------------------------- */
.row_keycaps {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    margin: 2.5px 0;
    height: 48px;
    width: 100%;
}
.row_keycaps div {

    border: 1px solid;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 48px;

    margin: 0 2px;
    height: 100%;

    position: relative;
    
}

/* numeric line ---------------------------------------------- */
.row_keycaps:nth-child(1) div:last-child {
    /* flex: 1.75; */
    width: 100px;
}

/* first chars line ------------------------------------------ */
.row_keycaps:nth-child(2) div:first-child,
.row_keycaps:nth-child(2) div:last-child {
    /* flex: 1.4; */
    width: 74px;
}

/* second chars line ----------------------------------------- */
.row_keycaps:nth-child(3) div:first-child {
    /* flex: 1.5; */
    width: 84px;
}
.row_keycaps:nth-child(3) div:nth-child(5)::after,
.row_keycaps:nth-child(3) div:nth-child(8)::after {

    content: "—";

    height: auto;
    width: auto;

    position: absolute;
    bottom: 0;

}
.row_keycaps:nth-child(3) div:last-child {
    /* flex: 2; */
    width: 120px;
}

/* third chars line ------------------------------------------ */
.row_keycaps:nth-child(4) div:first-child { width: 115px; }
.row_keycaps:nth-child(4) div:last-child { width: 145px; }

/* system line ----------------------------------------------- */
.row_keycaps:nth-child(5) div:nth-child(4) {
    width: 330px;
}
.row_keycaps:nth-child(5) div:nth-child(-n+3) {
    width: 62px;
}
.row_keycaps:nth-child(5) div:nth-child(7) {
    width: 62px;
}
.row_keycaps:nth-child(5) div:last-child {
    width: 90px;
}

/* disabled keycaps ------------------------------------------ */
.row_keycaps:nth-child(5) div:nth-child(6), /* fn */
.row_keycaps:nth-child(2) div:first-child,  /* tab */
.row_keycaps:nth-child(5) div:nth-child(2)  /* cmd */
{
    border-color: var(--secondary-additional-color);
    color: var(--secondary-additional-color);
}

/* type keycap ----------------------------------------------- */
.no_active_keycap {
    border-color: var(--secondary-additional-color);
    color: var(--secondary-additional-color);

    transition:
        border-color .3s linear,
        color .5s linear;
}
.valid_keycap {
    border-color: var(--secondary-color);
    color: var(--secondary-color);

    transition: none;
}
.invalid_keycap {
    border-color: var(--mistake-color);
    color: var(--mistake-color);

    transition: none;
}